body {
  font-family: "Lato";
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
/* HEADER conteiner start */
.header-conteiner {
  width: 100%;
  height: 41.5em;
  background: #f4f6f9;
  background-image: url(../img/phone-group.png);
  background-repeat: no-repeat;
  background-position: right;
}

.head-content {
  padding-left: 10.19em;
  padding-top: 3.94em;
}
.header-logo-title {
  width: 46%;
}
.logo-link-header {
  margin-bottom: 8.3em;
}

.header-title {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25em;
  letter-spacing: 0.03em;
  line-height: 1.63em;
  color: #333333;
  margin-bottom: 1.87em;
}
.header-text {
  width: 83%;
  font-style: normal;
  font-weight: normal;
  font-size: 1.13em;
  line-height: 1.63em;
  color: #4f4f4f;
  margin-bottom: 3.13em;
}
.link-store {
  margin-right: 2.25em;
}

.link-app-play a:last-child {
  margin-right: 0;
}

@media (max-width: 1024px) {
  .header-conteiner {
    height: 50%;
    background-image: none;
  }
  .header-title,
  .header-text {
    width: 100%;
    text-align: center;
  }
  .head-content {
    /* padding: 2.12em 1.25em 3.69em 1.25em; */
    display: flex;
    align-items: center;
  }
  .header-logo-title {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link-app-play {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }
  .head-content {
    padding-left: 0;
  }
}

/* HEADER conteiner end */

/* MAINE start */
/* what-it-start */
.what-it-conteiner {
  width: 100%;
  height: 37em;
  display: flex;
}
.media-content {
  width: 60%;
  height: 100%;
  background: linear-gradient(
      270deg,
      #ffffff 5.16%,
      rgba(255, 255, 255, 0) 67.14%
    ),
    rgba(255, 255, 255, 0.5) url(../img/christiano.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media-info {
  width: 80%;
  height: 75%;
  display: flex;
  justify-content: center;
}
.media-img {
  width: 80%;
}
.arsenal-cart {
  position: relative;
  width: 70%;
  z-index: 2;
  left: 0%;
  top: 0%;

  /* max-width: 70%;
  position: relative;
  z-index: 1;
  left: 0%;
  top: 0%; */
}
.video-cart {
  position: relative;
  width: 55%;
  z-index: 1;
  left: 28%;
  bottom: 23%;
  /* max-width: 50%;
  position: relative;
  right: 22%;
  bottom: 10%; */
}
.experience-conteiner {
  width: 40%;
  height: 37em;
  display: flex;
  justify-content: center;
}
.experience-info {
  margin: auto 0;
  width: 80%;
  height: 58%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link-experience,
.link-get {
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.31em;
  color: #00adee;
}
.experience-title,
.user-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.75em;
  line-height: 2.31em;
  color: #333333;
}
.experience-text,
.user-text {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.44em;
  color: #4f4f4f;
}

@media (max-width: 1024px) {
  .what-it-conteiner {
    height: 100%;
    flex-direction: column-reverse;
  }
  .experience-conteiner {
    width: 100%;
    text-align: center;
  }
  .media-content {
    width: 100%;
    background: linear-gradient(
        180deg,
        #ffffff 5.16%,
        rgba(255, 255, 255, 0) 67.14%
      ),
      rgba(255, 255, 255, 0.5) url(../img/christiano.png);
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
  }
  .media-info {
    margin-top: 5em;
  }
}

/* what-it-end */
/* get started start */
.get-start {
  width: 100%;
  min-height: 44.7em;
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.interface-content {
  width: 50%;
  /* height: 100%; */
  min-height: 44.7em;
  padding-left: 10.19em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-box {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.phone-img,
.phone-icon {
  display: none;
}
.link-get{
  margin-top: 2em;
}
@media (max-width: 1024px) {
  .get-start {
    background-image: none;
  }
  .interface-content {
    width: 100%;
    padding-left: 0;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8em;
  }
  .user-box {
    height: 70%;
    margin: auto;
    align-items: center;
  }
  .user-text {
    margin-top: 1em;
  }
  .phone-img, 
  .phone-icon {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;

    /* background-image: url(../img/circle-for360.png);
    background-repeat: no-repeat;
    background-position: center; */
  }
  /* .phone-icon {
    width: 100%;
  } */
}

/* get started end */
/* features start */
.features-conteiner {
  width: 100%;
  height: 100%;
  background-image: url(../img/blue-img.png);
}
.features-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.features-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.75em;
  line-height: 2.31em;
  color: #ffffff;
  margin-top: 4.75em;
  margin-bottom: 3.38em;
}
.features-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.flex-conteiner {
  /* margin: 0 auto; */
  width: 79%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-conteiner div {
  width: 30%;
  height: 30vh;
  margin-bottom: 1em;
}
.features-text {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.44em;
  color: #ffffff;
}
.features-icon {
  margin-bottom: 1.5em;
}
@media (max-width: 1024px) {
  .features-conteiner {
    background: #fafafa;
  }
  .features-box {
    margin-top: 17%;
  }
  .flex-conteiner {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .flex-conteiner div {
    width: 100%;
    height: 30vh;
  }
  .features-title {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .features-title,
  .features-text {
    text-align: center;
    color: #4f4f4f;
  }
  div .features-icon path {
    fill: #00adee;
  }
}

/* features conteiner end */
/* user conteiner start */
.users-say {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.user-say-title,
.dits-slider {
  text-align: center;
}
.user-say-title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: #333333;
  margin: 3em auto;
}
.slide-content {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.slider-arrow-l,
.slider-arrow-r {
  position: absolute;
  align-self: center;
}
.slider-arrow-l {
  margin-left: 80%;
}
.slider-arrow-r {
  margin-right: 80%;
  margin-top: 1%;
}
.d–æts-slider {
  margin: 2em auto;
  align-self: center;
}

@media (max-width: 1300px) {
  .slide-cart:nth-child(3) {
    display: none;
  }
}
@media (max-width: 1172px) {
  .slide-cart:nth-child(5) {
    display: none;
  }
}
@media (max-width: 1024px) {
  .slide-cart:nth-child(2) {
    display: none;
  }
  .slide-cart:nth-child(6) {
    display: none;
  }
  .slide-cart {
    width: 60%;
  }
  .slide-content {
    justify-content: center;
  }
  .slider-arrow-r {
    display: none;
  }
  .slider-arrow-l {
    margin-left: 60%;
  }
  .user-say-title {
    margin: 1.5em auto;
  }
}

/* partners conteiner start */
.partners-conteiner {
  width: 100%;
  height: 17.38em;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners-block {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3.56em 0 4.25em 0;
}
.partners-title {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75em;
  line-height: 2.31em;
  color: #333333;
  text-align: center;
  margin-bottom: 2em;
}
.icon-partners a {
  margin-right: 4.93em;
}
.icon-partners a:last-child {
  margin-right: 0;
}

.icon-partners a:hover {
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .partners-conteiner {
    height: 25.5em;
  }
  .icon-partners {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .icon-partners a {
    margin-right: 1em;
  }
  .partners-title {
    width: 120%;
    text-align: center;
  }
}

/* partners conteiner end */
/* MAINE end */

/* FOOTER start */
/* get up start */
.footer-conteiner {
  width: 100%;
}
.get-up-conteiner {
  width: 100%;
  display: flex;
}
.img-get-up {
  width: 45%;
}
.get-up-content {
  width: 55%;
}
.get-up-box {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.get-up-box h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.75em;
  line-height: 2.31em;
  color: #333333;
  margin-bottom: 2.28em;
}

.get-up-box p {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.56em;
  color: #4f4f4f;
  margin-bottom: 2.28em;
}

@media (max-width: 1024px) {
  .get-up-conteiner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .img-get-up {
    width: 100%;
  }
  .get-up-content {
    width: 100%;
  }
  .get-up-box {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .get-up-box h2 {
    margin-bottom: 1em;
  }
  .link-get-up {
    width: 100%;
    margin-bottom: 2em;
  }
  .link-get-up .link-store {
    margin: 0;
  }
}
/* get up end */
/* footer link start */
.footer-link {
  width: 100%;
  height: 8em;
  background: #00adee;
  display: flex;
  align-items: center;
}
.footer-wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link-menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.link-menu a {
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.32em;
  color: #ffffff;
}
@media (max-width:721px){
  .footer-wrap{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-logo{
    margin-bottom: 0.5em;
  }
  .footer-nav{
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .link-menu{
    width: 100%;
    justify-content: flex-start;
    margin-top: 2em;
  }
  .link-menu a{
    margin-right: 1em;
  }
}



/* footer link end */
/* FOOTER end */

/* FOR TEST SLIDER */

/* user conteiner end */

/* .slide-content{
  display: flex;
}
.card {
  background-color: #fff;
  width: 90%;
  margin: auto;
  min-height: 15em;
  display: flex;
  overflow-x: auto;
}

.card-content {
  background: #ffffff;
  min-width: 36em;
  margin: 5px;
  border: 1px solid #828282;
  border-radius: 4px;

}
.card::-webkit-scrollbar {
  display: none;
}
.card-block div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-block div img {
  margin-right: 1.5em;
}
.card-block {
  display: flex;
  justify-content: space-between;
  margin: 1.5em;
}
.card-block div h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.19em;
  color: #333333;
}
.card-in {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-in p {
  font-style: normal;
  font-weight: normal;
  font-size: 0.88em;
  line-height: 1.13em;
  color: #4f4f4f;
  margin: 1.5em;
} */
