body {
  font-family: "Lato";
}
a {
  text-decoration: none;
}
/* header conteiner start */
.header-conteiner {
  width: 100%;
  height: 41.5em;
  background: #f4f6f9;
  background-image: url(../img/phone-group.png);
  background-repeat: no-repeat;
  background-position: right;
}

.head-content {
  padding-left: 10.19em;
  padding-top: 3.94em;
}
.header-logo-title {
  width: 46%;
}
.logo-link-header {
  margin-bottom: 8.3em;
}

.header-title {
  font-style: normal;
  font-weight: bold;
  font-size: 2.25em;
  letter-spacing: 0.03em;
  line-height: 1.63em;
  color: #333333;
  margin-bottom: 1.87em;
}
.header-text {
  width: 83%;
  font-style: normal;
  font-weight: normal;
  font-size: 1.13em;
  line-height: 1.63em;
  color: #4f4f4f;
  margin-bottom: 3.13em;
}
.link-store {
  margin-right: 2.25em;
}

.link-app-play a:last-child {
  margin-right: 0;
}

@media (max-width: 1024px) {
  .header-conteiner {
    height: 50%;
    background-image: none;
  }
  .header-title,
  .header-text {
    width: 83%;
    text-align: center;
  }
  .head-content {
    padding: 2.12em 1.25em 3.69em 1.25em;
    display: flex;
    align-items: center;
  }
  .header-logo-title {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link-app-play {
    width: 30%;
    display: flex;
    justify-content: center;
  }
}

/* header conteiner end */

/* maine start */
/* what-it-start */
.what-it-conteiner {
  width: 100%;
  height: 37em;
  display: flex;
}
.media-content {
  width: 60%;
  height: 100%;
  background: linear-gradient(
      270deg,
      #ffffff 5.16%,
      rgba(255, 255, 255, 0) 67.14%
    ),
    rgba(255, 255, 255, 0.5) url(../img/christiano.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media-info {
  width: 80%;
  height: 75%;
  display: flex;
  justify-content: center;
}
.media-img {
  width: 80%;
}
.arsenal-cart {
  position: relative;
  width: 70%;
  z-index: 2;
  left: 0%;
  top: 0%;

  /* max-width: 70%;
  position: relative;
  z-index: 1;
  left: 0%;
  top: 0%; */
}
.video-cart {
  position: relative;
  width: 55%;
  z-index: 1;
  left: 28%;
  bottom: 23%;
  /* max-width: 50%;
  position: relative;
  right: 22%;
  bottom: 10%; */
}
.experience-conteiner {
  width: 40%;
  height: 37em;
  display: flex;
  justify-content: center;
}
.experience-info {
  margin: auto 0;
  width: 80%;
  height: 58%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link-experience,
.link-get {
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  line-height: 21px;
  color: #00adee;
}
.experience-title,
.user-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.75em;
  line-height: 37px;
  color: #333333;
}
.experience-text,
.user-text {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.44em;
  color: #4f4f4f;
}

@media (max-width: 1024px) {
  .what-it-conteiner {
    height: 100%;
    flex-direction: column-reverse;
  }
  .experience-conteiner {
    width: 100%;
    text-align: center;
  }
  .media-content {
    width: 100%;
    background: linear-gradient(
        180deg,
        #ffffff 5.16%,
        rgba(255, 255, 255, 0) 67.14%
      ),
      rgba(255, 255, 255, 0.5) url(../img/christiano.png);
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
  }
  .media-info{
    margin-top: 5em;
  }
}

/* what-it-end */
/* gt started start */
.get-start {
  width: 100%;
  height: 44.7em;
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.interface-content {
  width: 30%;
  height: 100%;
  padding-left: 10.19em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-box {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .get-start {
    display: block;
    background-position: 60% center;
    height: 16%;
  }
}

/* get started end */
