body {
  font-family: "Roboto", sans-serif;
}

.header-block {
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-position: top right;
  height: 69.38em;
}
.header-block .header-link {
  padding-bottom: 16em;
  padding-left: 0;
}
.header-block .header-link .logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-block .header-link .logo-link a {
  padding-right: 1em;
}
.header-block .header-link .header-link-m .navbar-nav a {
  color: #505f98;
}
.header-block .header-link .btn-buy-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-block .header-link .btn-buy-block .btn-buy {
  background: #111b47;
  color: white;
  width: 10em;
}
@media (max-width: 1000px) {
  .header-block .introduce-block .introduce-container .introduce-info {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: #e5e8f699;
  }
}
.header-block .introduce-block .row .col-6 .introduce-title {
  font-style: normal;
  font-weight: 700;
  font-size: 3.13em;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
  margin-bottom: 1.25em;
}
.header-block .introduce-block .introduce-container .col-6 .introduce-text {
  font-style: normal;
  font-weight: normal;
  font-size: 1.13em;
  line-height: 30px;
  color: #505f98;
}
.header-block .introduce-block .introduce-info p:nth-of-type(2) {
  margin-bottom: 4em;
}
.header-block .introduce-btn {
  margin-bottom: 2em;
}
.header-block .introduce-btn .btn-buy {
  min-width: 30%;
  background: #111b47;
  color: white;
  border-radius: 2px;
}
.header-block .introduce-btn .btn-learn-more {
  min-width: 30%;
  background: none;
  color: #111b47;
  margin-left: 2em;
  border: 2px solid #091133;
  border-radius: 2px;
}

.light-content {
  margin-top: 6.8em;
  margin-bottom: 6.8em;
  display: flex;
  align-items: center;
}
.light-content .img-powerful {
  height: 32.78em;
  background-image: url(../img/woman-and-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1000px) {
  .light-content .light-col-content {
    width: 100%;
    text-align: center;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: #e5e8f699;
  }
  .light-content .light-col-content .light-title {
    margin-top: 1em;
  }
  .light-content .img-powerful {
    display: none;
  }
}
.light-content .light-row .light-col-content {
  margin-top: 3.19em;
}
.light-content .light-row .light-col-content .light-title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25em;
  line-height: 48px;
  color: #091133;
  margin-bottom: 1em;
}
.light-content .light-row .light-col-content .light-text {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 26px;
  color: #6f7cb2;
}
.light-content .light-row .light-col-content p:nth-of-type(2) {
  margin-bottom: 5em;
}
.light-content .light-row .light-col-content .img-title .col-6 .img-women {
  margin-bottom: 1em;
}
.light-content .light-row .light-col-content .img-title .col-6 h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 26px;
  color: #091133;
}
.light-content .light-row .light-col-content .img-title .col-6 p {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 18px;
  color: #6f7cb2;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25em;
  line-height: 48px;
  color: #091133;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 26px;
  color: #6f7cb2;
}

.powerful-block {
  margin-bottom: 6.8em;
  display: flex;
  align-items: center;
}

.btn-buy {
  min-width: 30%;
  background: #111b47;
  color: white;
  border-radius: 2px;
}

.btn-buy-kit {
  margin-top: 1em;
}

.btn-buy:hover {
  color: white;
}

.powerful-item .powerful-tittle {
  margin-bottom: 1em;
}

@media (max-width: 1000px) {
  .powerful-content .powerful-block {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .powerful-content .powerful-item {
    width: 100%;
  }
  .powerful-content .img-foto {
    max-width: 100%;
  }
}

.price-content {
  background-image: url(../img/Rectangle.png);
  display: flex;
  justify-content: center;
  text-align: center;
}
.price-content .price-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 14.8em;
  margin-bottom: 14.56em;
}
.price-content .price-block .text:nth-of-type(2) {
  margin-bottom: 3.75em;
}
.price-content .price-block .text:nth-of-type(3) {
  margin-bottom: 0;
}
.price-content .price-block .btn-buy-now {
  margin-top: 0.5em;
  width: 40%;
}
@media (max-width: 1000px) {
  .price-content .price-block {
    width: 95%;
  }
}