body {
  font-family: "Roboto", sans-serif;
}

.header-block {
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-position: top right;
  height: 69.38em;
}
.header-block .header-link {
  padding-bottom: 16em;
  padding-left: 0;
}
.header-block .header-link .logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-block .header-link .logo-link a {
  padding-right: 1em;
}
.header-block .header-link .header-link-m .navbar-nav a {
  color: #505f98;
}
.header-block .header-link .btn-buy-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-block .header-link .btn-buy-block .btn-buy {
  background: #111b47;
  color: white;
  width: 10em;
}
@media (max-width: 1000px) {
  .header-block .introduce-block .introduce-container .introduce-info {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: #e5e8f699;
  }
}
.header-block .introduce-block .row .col-6 .introduce-title {
  font-style: normal;
  font-weight: 500;
  font-size: 3.13em;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
}
.header-block .introduce-block .introduce-container .col-6 .introduce-text {
  font-style: normal;
  font-weight: normal;
  font-size: 1.13em;
  line-height: 30px;
  color: #505f98;
}
.header-block .introduce-block .introduce-info p:nth-of-type(2) {
  margin-bottom: 4em;
}
.header-block .introduce-btn {
  margin-bottom: 2em;
}
.header-block .introduce-btn .btn-buy {
  min-width: 30%;
  background: #111b47;
  color: white;
  border-radius: 2px;
}
.header-block .introduce-btn .btn-learn-more {
  min-width: 30%;
  background: none;
  color: #111b47;
  margin-left: 2em;
  border: 2px solid #091133;
  border-radius: 2px;
}