/* RESET CSS start*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* RESET CSS end */

/* start */
body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
.all-content {
  width: 100%;
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
  display: flex;
  justify-content: center;
}
.content {
  width: 80%;
}

/* header start */
.header {
  margin-bottom: 130px;
}

.header-in {
  /* max-width: 1120px;
  margin: 0 auto; */
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-nav {
  max-width: 322px;
  height: 35px;
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 121px;
}
.header-link {
  text-decoration: none;
  color: #4b5d68;
}

.header-list {
  display: flex;
  justify-content: space-around;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 160%; */
}
.header-item {
  margin-right: 40px;
}
.header-item:last-child {
  margin-right: 0;
}
.about {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  /* line-height: 160%; */
  color: #212353;
}

.button-request {
  align-items: center;
  padding: 17px 29px;
  border: none;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}
.button-name {
  margin-right: 20px;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
}
/* header end */

/* maine start */
/* save content start */
main {
  display: flex;
  flex-direction: column;
}
.save-content {
  width: 100%;
  background-image: url(img/save.png);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position-y: bottom;
  background-position-x: right;
  /* display: flex;
  flex-direction: column; */
  margin-bottom: 100px;
}

.save-name {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  color: #212353;
  max-width: 645px;
}
.save-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
  max-width: 380px;
}
.save-name,
.save-text {
  margin-bottom: 50px;
}
.buttom-learn {
  margin-bottom: 100px;
}
.buttom-learn {
  background: #9c69e2;
  border-radius: 50px;
  border: none;
  padding: 16px 37px;
}
.btn-learn-text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
}
/* save content end */
.bank-content {
  width: 95%;
  margin-bottom: 150px;
}
.bank-box {
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bank-conteiner {
  width: 45%;
  padding-right: 3%;
}
.img-bank {
  width: 40%;
}
.img-women {
  width: 100%;
  height: auto;
}

.storage-title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  color: #212353;
  margin-top: 125px;
  margin-bottom: 40px;
  max-width: 475px;
  max-height: 310px;
}
.storage-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
  margin-bottom: 125px;
}
/* bank content end */

/* features textt start */
.features-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.features {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  margin-bottom: 50px;
}
.features-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #4b5d68;
  max-width: 584px;
  max-height: 58px;
  margin-bottom: 70px;
}
/* features text end */
/* cart-case conteiner start */
.cart-case {
  width: 95%;
  margin-bottom: 175px;
}
.search-hours {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.search-search,
.houres-houres,
.print-print,
.security-security {
  margin-bottom: 20px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
}
.searc-text,
.hours-text,
.print-text,
.security-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #4b5d68;
  margin-bottom: 20px;
}

.search-case,
.hours-case {
  display: flex;
  align-items: center;
}
.search-case {
  padding-right: 2%;
}
.searc-content,
.hours-content {
  margin-left: 30px;
}
.img-search {
  padding-top: 50px;
}
.span-learn {
  margin-right: 20px;
  color: #212353;
}
.print-security {
  width: 100%;
  display: flex;
}

.print-case,
.security-case {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.print-case {
  margin-right: 90px;
}
.print-content,
.security-content {
  margin-left: 30px;
}
.print-content {
  margin-left: 20px;
}
.print-text {
  padding-bottom: 50px;
}
.print-img,
.scurity-img {
  padding-top: 24px;
}
/* cart-case conteiner end  */

/* testimonials start */
.testimonials-content {
  width: 95%;
  margin-bottom: 150px;
}
.testimonials-box {
  width: 100%;
  /* height: 709px; */
  background: #9c69e2;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.john-box {
  background: #ffffff;
  box-shadow: 0px 20px 0px rgba(120, 57, 207, 0.3);
  border-radius: 20px;
  /* height: 46.5%; */
  width: 85.1%;
  margin-bottom: 60px;
}
.john-conteiner {
  display: flex;
  justify-content: center;
  margin: 60px 103px 50px 103px;
}
.testimonials {
  align-self: flex-start;
  margin-bottom: 88px;
  margin-top: 109px;
  margin-left: 8%;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #ffffff;
}
.john-name {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #212353;
}
.mail-john {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #9c69e2;
  margin-bottom: 19px;
}
.text-john {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #4b5d68;
}
.john-img {
  margin-right: 45px;
}
.john-content {
  padding-top: 20px;
}
.slide-dots {
  width: 85.1%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.dots-content {
  display: flex;
  align-items: center;
}
.dots-box {
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
}
.dots-box-check {
  width: 10px;
  height: 10px;
  background-color: #f063b8;
  border-radius: 100%;
  margin-right: 10px;
}
.arrow {
  margin-right: 20px;
}
/* testimonials end */

/* footer start */
.try-conteiner {
  width: 95%;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.try-title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  margin-bottom: 20px;
}
.try-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
}

.button-more {
  width: 170px;
  height: 60px;
  background: #f063b8;
  border-radius: 50px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  margin-right: 30px;
}
.button-demo {
  width: 210px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
}
.demo-style{
  margin-right: 20px;
}
/* footer end */
