body {
  background: #010101;
}
a {
  text-decoration: none;
}

// for 2 use start BEM
.link-menu-link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.13em;
  line-height: 32px;
  text-transform: uppercase;
  color: #c7c7c7;
  padding: 5px;
}
.link-active {
  color: #ffffff;
}
.btn {
  padding: 1em;
}
// for 2 use end BEM
// header start

.header {
  width: 100%;
  height: 43.75em;
  background-image: url(../img/bg-camera.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //   position: relative;
  display: flex;
  flex-direction: column;
  .nav-block {
    background: linear-gradient(180deg, #010101 -17.5%, rgba(1, 1, 1, 0) 100%);
    .header-link {
      //   margin: 0 7.5em;
      width: 83%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .link-menu {
        width: 33.3em;
        display: flex;
        justify-content: space-between;
      }
      .link-menu-burger {
        display: none;
      }
    }
  }
  .header-title {
    margin: 0 auto;
    margin-top: 9.18em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header-title-content {
      font-family: "Oswald", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 4em;
      line-height: 64px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;
      margin-bottom: 16px;
    }
    .header-subtitle {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1.13em;
      line-height: 26px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 2em;
    }
    .btn-header {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 11.13em;
      line-height: 24px;
      /* identical to box height, or 133% */

      text-transform: capitalize;

      /* Black */

      color: #010101;
      margin-bottom: 8em;
    }
  }
  .link-social {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transform: rotate(270deg);
    height: 1.5em;
    top: -17.75em;
    right: -6.38em;
    .link-social-link {
      display: flex;
      align-items: center;
      color: white;
      background-color: black;
      opacity: 0.8;
      height: 100%;
      padding: 5px;
      margin-left: 3px;
      span {
        font-family: "Oswald";
        font-style: normal;
        font-weight: normal;
        font-size: 0.75em;
        line-height: 20px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}
@media (max-width: 800px) {
  .header {
    .link-social {
      display: none;
    }
  }
}
@media (max-width: 750px) {
  .header {
    // min-width: 750px;
    margin-top: 5.5em;
    .nav-block {
      .header-logo {
        .logo-img {
          width: 6.25em;
        }
      }
      .header-link {
        .link-menu {
          display: none;
        }
        .link-menu-burger {
          display: flex;
          align-items: center;
        }
      }
    }
    .header-title {
      .header-title-content {
        margin-bottom: 2em;
      }
      .header-subtitle {
        display: none;
      }
      .btn-header {
        background-color: #f3f3f300;
        color: #ffffff;
        border: 1px solid #ffffff;
        margin-bottom: 11.13em;
      }
    }
  }
}


// heaer end
.contant {
  width: 83%;
  margin: 0 auto;
}

// main start
.statistic-block {
  display: flex;
  justify-content: space-between;
  .statistic-content {
    display: flex;

    .number {
      position: relative;
      margin-top: 7.5em;
      margin-bottom: 7.5em;
      .bg-statistic {
        font-family: "Oswald", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 3em;
        line-height: 64px;
        letter-spacing: -5px;
        text-transform: uppercase;
        color: #1e1e1e;
        opacity: 0.7;
        margin-left: 2em;
      }

      .statistic {
        display: flex;
        align-items: flex-end;
        position: absolute;
        top: 1.75em;

        .title-statistic {
          font-family: "Oswald", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 4.25em;
          color: #ffffff;
          display: flex;
          align-items: flex-end;
        }

        .subtitle-statistic {
          font-family: "Raleway", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 1.75em;
          color: #ffffff;
          display: flex;
          align-items: flex-end;
          padding-bottom: 0.31em;
        }
      }
    }
  }
  .statistic-content-left {
    width: 45%;
    .number-project {
      width: 50%;
      margin-right: 1em;
      & .title-statistic {
        padding-right: 0.3em;
      }
    }
    .number-filming {
      flex-shrink: 1;
      width: 50%;
      .bg-statistic-filming {
        margin-left: 2em;
      }
      & .title-statistic {
        padding-right: 0.5em;
      }
    }
  }
  .statistic-content-right {
    width: 50%;
    .number-brand {
      width: 50%;
      .bg-statistic-filming {
        margin-left: 1em;
      }
      & .title-statistic {
        padding-right: 0.3em;
      }
    }
    .number-views {
      width: 50%;
      .bg-statistic-filming {
        margin-left: 1.1em;
      }
      & .title-statistic {
        padding-right: 0.3em;
      }
    }
  }
}
@media (max-width: 1252px) {
  .statistic-block {
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .statistic-content-left {
      width: 95%;
      .number-project,.number-filming  {
        display: flex;
        justify-content: center;
      }
    }
    .statistic-content-right {
      width: 95%;
      .number-brand {
        display: flex;
        justify-content: center;
      }
      .number-views {
        display: flex;
        justify-content: center;
      }

    }
  }
}


// maine end

// font-family: 'Montserrat', sans-serif; font-family: 'Oswald', sans-serif; font-family: 'Raleway', sans-serif;
