.all-partners-content {
  width: 100%;
  background-color: #ffffff;
  padding-top: 7.5em;
  padding-bottom: 7.5em;
}
.all-partners-content .partners {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}
.partners-title .partners-title__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: #010101;
}
.partners-title .patners-slide {
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.partners-title .patners-slide .slide-arrow {
  height: 60%;
}

.partners-img {
  width: 80%;
}

.partners-icon {
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.partners-icon .partners-icon-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3em;
}
.partners-icon .partners-icon-boottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partners-responsive-icon {
  width: 95%;
  display: flex;
  flex-direction: column;
  display: none;
}
.partners-responsive-icon .partners-icon-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3em;
}
.partners-responsive-icon .partners-icon-boottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 750px) {
  .all-partners-content {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .partners-icon {
    display: none;
  }

  .partners-responsive-icon {
    display: contents;
  }
}
.reviews-box {
  margin-top: 7.5em;
}

.reviews-title__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: #ffffff;
}

.title-card {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #010101;
  margin-bottom: 0.5em;
}

.subtitle-card,
.subttle-reviews {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #010101;
}

.center {
  color: #ffffff;
}

.reviews-card {
  display: flex;
  justify-content: center;
}
.reviews-card .reviews-left {
  background-color: #c7c7c7;
  margin-right: 3px;
  width: 33%;
}
.reviews-card .reviews-center {
  background: #1e1e1e;
  margin-right: 3px;
  width: 33%;
}
.reviews-card .reviews-right {
  background-color: #c7c7c7;
  width: 33%;
}
.reviews-card .reviews-card-in {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reviews-card .reviews-card-in .card-in {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

@media (max-width: 850px) {
  .reviews-right,
.reviews-left {
    display: none;
  }

  .reviews-card .reviews-center {
    width: 100%;
  }
}
.reviews-footer {
  width: 100%;
  background: linear-gradient(180deg, #010101 11.52%, rgba(41, 40, 40, 0.76) 100%);
  display: flex;
  align-items: flex-end;
}

.bg-reviews {
  display: flex;
  align-items: flex-end;
  margin-left: 2.69em;
}

@media (max-width: 750px) {
  .bg-reviews {
    margin-left: 0.1em;
  }
  .bg-reviews .bg-revie {
    width: 60%;
  }
  .bg-reviews .bg-revie-small {
    width: 30%;
  }
}
.footer-menu {
  display: flex;
  height: 13.75em;
}
.footer-menu .footer-menu-menu {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-menu .footer-menu-menu .footer-menu-link {
  margin-bottom: 2em;
}
.footer-menu .footer-menu-menu .footer-link-social {
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5em;
}
.footer-menu .footer-menu-menu .footer-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 750px) {
  .footer-menu {
    height: 5em;
  }
  .footer-menu .footer-menu-menu {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .footer-menu .footer-menu-menu .footer-menu-link {
    display: none;
  }
  .footer-menu .footer-menu-menu .footer-link-social {
    height: 3.5em;
    width: 60%;
    align-items: center;
  }
  .footer-menu .footer-menu-menu .footer-title {
    display: none;
  }
}