body {
  background: #010101;
}

a {
  text-decoration: none;
}

.link-menu-link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.13em;
  line-height: 32px;
  text-transform: uppercase;
  color: #c7c7c7;
  padding: 5px;
}

.link-active {
  color: #ffffff;
}

.btn {
  padding: 1em;
}

.contant {
  width: 85%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 43.75em;
  background-image: url(../img/bg-camera.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.header .nav-block {
  background: linear-gradient(180deg, #010101 -17.5%, rgba(1, 1, 1, 0) 100%);
}
.header .nav-block .header-link {
  width: 83%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav-block .header-link .link-menu {
  width: 33.3em;
  display: flex;
  justify-content: space-between;
}
.header .nav-block .header-link .link-menu-burger {
  display: none;
}
.header .header-title {
  margin: 0 auto;
  margin-top: 9.18em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .header-title .header-title-content {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 4em;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}
.header .header-title .header-subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 2em;
}
.header .header-title .btn-header {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */
  text-transform: capitalize;
  /* Black */
  color: #010101;
  margin-bottom: 8em;
}
.header .link-social {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transform: rotate(270deg);
  height: 1.5em;
  top: -17.75em;
  right: -4.38em;
}
.header .link-social .link-social-link {
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
  opacity: 0.8;
  height: 100%;
  padding: 5px;
  margin-left: 3px;
}
.header .link-social .link-social-link span {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 800px) {
  .header .link-social {
    display: none;
  }
}
@media (max-width: 750px) {
  .header {
    margin-top: 5.5em;
  }
  .header .nav-block .header-logo .logo-img {
    width: 6.25em;
  }
  .header .nav-block .header-link .link-menu {
    display: none;
  }
  .header .nav-block .header-link .link-menu-burger {
    display: flex;
    align-items: center;
  }
  .header .header-title .header-title-content {
    font-size: 2.5em;
    line-height: inherit;
    letter-spacing: -0.04em;
    margin-bottom: 32px;
  }
  .header .header-title .header-subtitle {
    display: none;
  }
  .header .header-title .btn-header {
    background-color: #f3f3f300;
    color: #ffffff;
    border: 1px solid #ffffff;
    margin-bottom: 11.13em;
  }
}
@media (max-width: 360px) {
  .header {
    min-width: 350px;
  }
}
.statistic-block {
  display: flex;
  justify-content: space-between;
}
.statistic-block .statistic-content {
  display: flex;
}
.statistic-block .statistic-content .number {
  position: relative;
  margin-top: 7.5em;
  margin-bottom: 7.5em;
}
.statistic-block .statistic-content .number .bg-statistic {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 64px;
  text-transform: uppercase;
  color: #1e1e1e;
  opacity: 0.7;
}
.statistic-block .statistic-content .number .statistic {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 1.75em;
}
.statistic-block .statistic-content .number .statistic .title-statistic {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4.25em;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
}
.statistic-block .statistic-content .number .statistic .subtitle-statistic {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.75em;
  line-height: 33px;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
}
.statistic-block .statistic-content-left {
  width: 45%;
}
.statistic-block .statistic-content-left .bg-statistic-project {
  padding-left: 0.8em;
}
.statistic-block .statistic-content-left .number-project {
  width: 50%;
  margin-right: 1em;
}
.statistic-block .statistic-content-left .number-project .title-statistic {
  padding-right: 0.3em;
}
.statistic-block .statistic-content-left .number-filming {
  flex-shrink: 1;
  width: 50%;
}
.statistic-block .statistic-content-left .number-filming .bg-statistic-filming {
  margin-left: 2em;
}
.statistic-block .statistic-content-left .number-filming .title-statistic {
  padding-right: 0.5em;
}
.statistic-block .statistic-content-right {
  width: 50%;
}
.statistic-block .statistic-content-right .number-brand {
  width: 50%;
}
.statistic-block .statistic-content-right .number-brand .bg-statistic-filming {
  margin-left: 1em;
}
.statistic-block .statistic-content-right .number-brand .title-statistic {
  padding-right: 0.3em;
}
.statistic-block .statistic-content-right .number-views {
  width: 50%;
}
.statistic-block .statistic-content-right .number-views .bg-statistic-filming {
  margin-left: 1.1em;
}
.statistic-block .statistic-content-right .number-views .title-statistic {
  padding-right: 0.3em;
}

@media (max-width: 1252px) {
  .statistic-block {
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .statistic-block .statistic-content-left {
    width: 95%;
  }
  .statistic-block .statistic-content-left .number-project,
.statistic-block .statistic-content-left .number-filming {
    display: flex;
    justify-content: center;
  }
  .statistic-block .statistic-content-right {
    width: 95%;
  }
  .statistic-block .statistic-content-right .number-brand,
.statistic-block .statistic-content-right .number-views {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 750px) {
  .main .statistic-block .statistic-content .number {
    margin-top: 3.5em;
    margin-bottom: 3.5em;
  }
  .main .statistic-block .statistic-content .number .statistic {
    top: 0.8em;
  }
  .main .statistic-block .statistic-content .number .statistic .title-statistic {
    font-size: 44px;
    padding-right: 5px;
  }
  .main .statistic-block .statistic-content .number .statistic .subtitle-statistic {
    font-size: 16px;
    line-height: 20px;
  }
  .main .statistic-block .statistic-content .bg-statistic {
    font-size: 32px;
    line-height: 36px;
  }
}
.card-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5em;
}
.card-content .filming {
  width: 28.5%;
  background-image: url(../img/filming.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card-content .filming .filming-content {
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #010101ad -16.15%, rgba(1, 1, 1, 0) 104.17%);
}
.card-content .foto {
  width: 28.5%;
  background-image: url(../img/foto.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card-content .foto .foto-content {
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #010101ad -16.15%, rgba(1, 1, 1, 0) 104.17%);
}
.card-content .creative {
  width: 28.5%;
  height: 13.38em;
  background-image: url(../img/creative.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card-content .creative .creative-content {
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #010101ad -16.15%, rgba(1, 1, 1, 0) 104.17%);
}
.card-content .filming-content,
.card-content .foto-content,
.card-content .creative-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.card-content .filming-content .card-title,
.card-content .foto-content .card-title,
.card-content .creative-content .card-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5em;
  line-height: 64px;
  letter-spacing: 0.05em;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 1220px) {
  .card-content .filming-content .card-title,
.card-content .foto-content .card-title,
.card-content .creative-content .card-title {
    font-size: 2em;
    line-height: 44px;
  }
}
@media (max-width: 960px) {
  .card-content .filming-content .card-title,
.card-content .foto-content .card-title,
.card-content .creative-content .card-title {
    font-size: 1.5em;
    line-height: 44px;
  }
}
@media (max-width: 750px) {
  .card-content {
    flex-direction: column;
    align-items: center;
  }
  .card-content .filming {
    width: 100%;
    height: 152px;
    margin-bottom: 0.75em;
  }
  .card-content .foto {
    width: 100%;
    height: 10em;
    margin-bottom: 0.75em;
  }
  .card-content .creative {
    width: 100%;
    height: 152px;
  }
  .card-content .filming-content .card-title,
.card-content .foto-content .card-title,
.card-content .creative-content .card-title {
    font-size: 2em;
    line-height: 44px;
  }
}
.history {
  display: flex;
  margin-bottom: 7.5em;
}
.history .history-content {
  width: 100%;
  height: 100%;
  background-image: url(../img/history-img2.png);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
}
.history .history-content .history-content-title {
  width: 70%;
  height: 100%;
  z-index: 1;
}
.history .history-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 2em;
}
.history .history-subtitle {
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 2em;
}

@media (max-width: 750px) {
  .history {
    margin-bottom: 3.5em;
  }
  .history .history-content {
    height: 576px;
    background-image: url(../img/Mask-Group.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .history .history-content .history-content-title {
    width: 90%;
  }
  .history .history-content .history-content-title .history-title {
    text-align: left;
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 0.5em;
  }
  .history .history-content .history-content-title .history-subtitle {
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 1em;
  }
}
.project {
  width: 100%;
  height: 57.13em;
  display: flex;
  flex-direction: column;
}
.project .project-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project .project-box {
  width: 100%;
  height: 90%;
  display: flex;
}
.project .project-box .project-card__left-content {
  width: 67%;
  height: 90%;
  margin-right: 3px;
  display: flex;
  flex-direction: column;
}
.project .project-box .project-card__right-content {
  width: 33%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.project-title::after {
  content: "";
  display: inline-block;
  text-align: center;
  width: 70%;
  border-top: 1px solid #ffffff;
  margin-top: 1em;
}

.project-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 1em;
}

.btn-hov-view {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  color: #010101;
}

.project__top-left {
  width: 100%;
  height: 66%;
  background-image: url(../img/project-img/Photo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__bottom-left {
  width: 100%;
  height: 33%;
  display: flex;
}
.project__bottom-left .project-left-card {
  width: 50%;
  height: 100%;
  background-image: url(../img/project-img/porche.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 3px;
}
.project__bottom-left .project-right-card {
  width: 50%;
  height: 100%;
  background-image: url(../img/project-img/jeep.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-right__top,
.project-right__center,
.project-right__bottom {
  width: 100%;
  height: 33%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-right__top {
  background-image: url(../img/project-img/bike.png);
  margin-bottom: 3px;
}

.project-right__center {
  background-image: url(../img/project-img/canoe.png);
  margin-bottom: 3px;
}

.project-right__bottom {
  background-image: url(../img/project-img/sunset.png);
}

.btn-project {
  background-color: #f3f3f300;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-bottom: 2em;
  padding: 15px 30px;
}

.project-hov {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.project-hov:hover {
  background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
  opacity: 100%;
  transition-duration: 2s;
}

.project-responsive {
  display: none;
}

@media (max-width: 750px) {
  .project {
    height: 100%;
  }
  .project .project-box {
    display: none;
  }

  .project-responsive {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70.5em;
    margin: 0 auto;
  }
  .project-responsive .discover-content,
.project-responsive .mountein-content,
.project-responsive .ukraine-content,
.project-responsive .gravity-content,
.project-responsive .porche-content {
    width: 100%;
    height: 13.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .project-responsive .discover-content {
    background-image: url(../img/project-img/Photo1.png);
    margin-bottom: 0.75em;
  }
  .project-responsive .mountein-content {
    background-image: url(../img/project-img/mountain.png);
    margin-bottom: 0.75em;
  }
  .project-responsive .ukraine-content {
    background-image: url(../img/project-img/ukraine.png);
    margin-bottom: 0.75em;
  }
  .project-responsive .gravity-content {
    background-image: url(../img/project-img/gravity.png);
    margin-bottom: 0.75em;
  }
  .project-responsive .porche-content {
    background-image: url(../img/project-img/porche-resp.png);
    margin-bottom: 2em;
  }

  .project-responsive__content {
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-responsive__title {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.all-partners-content {
  width: 100%;
  background-color: #ffffff;
  padding-top: 7.5em;
  padding-bottom: 7.5em;
}
.all-partners-content .partners {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}
.partners-title .partners-title__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: #010101;
}
.partners-title .patners-slide {
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.partners-title .patners-slide .slide-arrow {
  height: 60%;
}

.partners-img {
  width: 80%;
}

.partners-icon {
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.partners-icon .partners-icon-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3em;
}
.partners-icon .partners-icon-boottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partners-responsive-icon {
  width: 95%;
  display: flex;
  flex-direction: column;
  display: none;
}
.partners-responsive-icon .partners-icon-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3em;
}
.partners-responsive-icon .partners-icon-boottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 750px) {
  .all-partners-content {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .partners-icon {
    display: none;
  }

  .partners-responsive-icon {
    display: contents;
  }
}
.reviews-box {
  margin-top: 7.5em;
}

.reviews-title__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: #ffffff;
}

.title-card {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #010101;
  margin-bottom: 0.5em;
}

.subtitle-card,
.subttle-reviews {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #010101;
}

.center {
  color: #ffffff;
}

.reviews-card {
  display: flex;
  justify-content: center;
}
.reviews-card .reviews-left {
  background-color: #c7c7c7;
  margin-right: 3px;
  width: 33%;
}
.reviews-card .reviews-center {
  background: #1e1e1e;
  margin-right: 3px;
  width: 33%;
}
.reviews-card .reviews-right {
  background-color: #c7c7c7;
  width: 33%;
}
.reviews-card .reviews-card-in {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reviews-card .reviews-card-in .card-in {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

@media (max-width: 850px) {
  .reviews-right,
.reviews-left {
    display: none;
  }

  .reviews-card .reviews-center {
    width: 100%;
  }
}
.reviews-footer {
  width: 100%;
  background: linear-gradient(180deg, #010101 11.52%, rgba(41, 40, 40, 0.76) 100%);
  display: flex;
  align-items: flex-end;
}

.bg-reviews {
  display: flex;
  align-items: flex-end;
  margin-left: 2.69em;
}

@media (max-width: 750px) {
  .bg-reviews {
    margin-left: 0.1em;
  }
  .bg-reviews .bg-revie {
    width: 60%;
  }
  .bg-reviews .bg-revie-small {
    width: 30%;
  }
}
.footer-menu {
  display: flex;
  height: 13.75em;
}
.footer-menu .footer-menu-menu {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-menu .footer-menu-menu .footer-menu-link {
  margin-bottom: 2em;
}
.footer-menu .footer-menu-menu .footer-link-social {
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5em;
}
.footer-menu .footer-menu-menu .footer-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 750px) {
  .footer-menu {
    height: 5em;
  }
  .footer-menu .footer-menu-menu {
    justify-content: flex-start;
    align-items: flex-end;
  }
  .footer-menu .footer-menu-menu .footer-menu-link {
    display: none;
  }
  .footer-menu .footer-menu-menu .footer-link-social {
    height: 3.5em;
    width: 60%;
    align-items: center;
  }
  .footer-menu .footer-menu-menu .footer-title {
    display: none;
  }
}